[user]
	name = Kent@LsyHP
	email = kent.yuan@Gmail.com

[core]
	pager = cat
	editor = vim

[http]
	proxy = http://localhost:8888

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	graft = cherry-pick -x

	l   = log -34 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(bold)(by %an)%Creset'
    ll  = log     --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(bold)(by %an)%Creset'
    gl  = log -14 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(bold)(%an)%Creset%C(red bold)%d%Creset%n'
    gll = log     --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(bold)(%cr by %an)%Creset%C(red bold)%d%Creset%n'

	#changed file of a commit
	cc = show --name-only

	pull = pull --ff-only
    up = merge --ff-only
	ci = commit
	cm = commit -m
	co = checkout
    st = status
	unstage = reset HEAD
	df = diffall
	addjava = add **/src/**/*.java

	file = "!locate(){ git ls-files **/$1;};locate"
	#locate file by regex (grep)
	filere = "!locate_re(){ git ls-files |grep --color -P $1;};locate_re"

	#check outgoing changes
	outgoing = "!outgoing(){ git fetch && git log origin/$(git rev-parse --abbrev-ref HEAD).. ; }; outgoing"

	#check incoming changes
	incoming = "!incoming(){ git fetch && git log ..origin/$(git rev-parse --abbrev-ref HEAD) ;}; incoming"

[push]
    default = current

;[merge]
	;tool = vimdiff
	;conflictstyle = diff3
[merge]
	tool = mygitmergetool
[mergetool "mygitmergetool"]
	cmd = $HOME/lib/gitmergetool vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
	
[mergetool]
	prompt = false

[diff]
	tool = myGitVimDiff

[difftool "myGitVimDiff"]
	cmd = vim -f '+next' '+execute \"DirDiff\" argv(1) argv(0)' $LOCAL $REMOTE
	prompt = false
[difftool]
	prompt = false
