! vim: fdm=marker

!themes {{{
!more COLOR THEME CAN BE FOUND AT http://phraktured.net/terminal-colors/

!Xcursor.theme:          ComixCursors-Blue-Regular

Xcursor.theme:          Obsidian

!green fg
!*foreground: #91f373
!URxvt*foreground: #59cd36

!bg dark
!*background: #0c0c0c
!*cursorColor: #ACEA5C

! }}}

!-- Tango color scheme   {{{
!*color0: #2e3436
!*color0: #1e1e1e
!*color8: #555753
!*color1: #cc0000
!*color9: #ef2929
!*color2: #4e9a06
!*color10: #8ae234
!*color3: #c4a000
!*color11: #fce94f
!*color4: #3465a4
!*color12: #729fcf
!*color5: #75507b
!*color13: #ad7fa8
!*color6: #0b939b
!*color14: #00f5e9
!*color7: #d3d7cf
!*color15: #eeeeec
! }}}

!! Solarized color scheme for the X Window System/*{{{*/
!!
!! http://ethanschoonover.com/solarized
!
!
! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

!}}}
!  RXVT-unicode {{{

!urxvt setting
!Xft.dpi:96
URxvt.iconFile: /home/kent/MyStuff/GUI/customIcons/icons/terminal.svg

URxvt.geometry: 90x30

URxvt.scrollBar: True

URxvt.scrollstyle: next

URxvt.scrollBar_right: True

URxvt.inputMethod: fcitx

! Use shift+pageup/down to scroll in screen

URxvt.secondaryScroll:  True

URxvt.scrollTtyOutput: False

URxvt.scrollTtyKeypress: True

URxvt.scrollWithBuffer: True
!set the artificial transparency of the v.t.

!terminal background
!URxvt.backgroundPixmap: /home/kent/MyStuff/GUI/ArtMaterial/wallpaper/terminalBG.png;geom:tile
!URxvt.inheritPixmap: True
!URxvt.tintColor: lightgray

!URxvt.fadeColor:        honeydew3

!URxvt.troughColor:      sienna

!URxvt.borderLess:       True

!URxvt.cursorUnderline:  True

!URxvt.cursorColor:      green

URxvt.colorBD: Wheat

!URxvt.colorUL: white
!URxvt.shading: 30
!URxvt.fading: 30

URxvt*underlineURLs:    true


URxvt.saveLines: 1500
!allow double click to select URL


!this makes urxvt to start faster??

URxvt.preeditType: Root
URxvt*termName: rxvt-256color
!URxvt*meta8:true
!urgent notification
!URxvt.urgentOnBell:     True

!URxvt.keysym.M-v:       command:paste

URxvt.keysym.Delete:       \033[3~

!italicFont and boldItalicFont undefined

!URxvt.font:xft:Luxi Mono:regular:antialias=True:pixelsize=15, 
URxvt*font: xft:Monaco:medium:autohint=True:size=12.5:antialias=True,  xft:DejaVu Sans Mono:book:autohint=True:size=12,  xft:WenQuanYi Micro Hei:pixelsize=16:antialias=True


!URxvt*boldFont: xft:Monaco:bold:autohint=True:size=12:antialias=True,  xft:DejaVu Sans Mono:bold:autohint=True:size=12,  xft:WenQuanYi Bitmap Song:pixelsize=16:antialias=False
URxvt*boldFont: xft:Monaco:bold:autohint=True:size=12:antialias=True,  xft:DejaVu Sans Mono:bold:autohint=True:size=12,  xft:WenQuanYi Micro Hei:bold:pixelsize=16:antialias=False

! }}}

